/* styles.css */
a {
    text-decoration:none;
    color:firebrick;
}
html {
    color:snow;
    background-color:black
}
.header-text {
    color: whitesmoke;
}
#recipe-list {
    color: firebrick;
    background-color:indigo;
}
#recipe-list-items a {
    color:yellow;
    background-color:indigo;
} /*Changes link background and text*/
#recipe-list-items {
    color:forestgreen;
    background-color:indigo;
}/*Changes bullet point and non-link text*/